  <div class="sidebar-nav">
        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Dashboard</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li><a href="/index">Home</a></li>
            <li ><a href="/file/">File List</a></li>
            <li ><a href="/mongo/index">Mongo Management</a></li>
            <li ><a href="/todo">to do Manager</a></li>
            <li ><a href="calendar.html">Calendar</a></li>

        </ul>

  <a href="#accounts-article" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Article<span class="label label-info">+3</span></a>
        <ul id="accounts-article" class="nav nav-list collapse in">
            <li ><a href="/article/articleItem">Article Item</a></li>
            <li ><a href="/article/listContext">Article list</a></li>
            <li ><a href="/article/articleManager">add Article</a></li>
            <li ><a href="/article/search">Search Article</a></li>
        </ul>

        <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Account<span class="label label-info">+3</span></a>
        <ul id="accounts-menu" class="nav nav-list collapse">
            <li ><a href="/userList">user list</a></li>
            <li ><a href="/add user">add user</a></li>
        </ul>
        <a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>Error Pages <i class="icon-chevron-up"></i></a>
        <ul id="error-menu" class="nav nav-list collapse">
            <li ><a href="403.html">403 page</a></li>
            <li ><a href="404.html">404 page</a></li>
            <li ><a href="500.html">500 page</a></li>
            <li ><a href="503.html">503 page</a></li>
        </ul>

        <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>Legal</a>
        <ul id="legal-menu" class="nav nav-list collapse">
            <li ><a href="privacy-policy.html">Privacy Policy</a></li>
            <li ><a href="terms-and-conditions.html">Terms and Conditions</a></li>
        </ul>

        <a href="help.html" class="nav-header" ><i class="icon-question-sign"></i>Help</a>
        <a href="faq.html" class="nav-header" ><i class="icon-comment"></i>Faq</a>
    </div>